.row
  %form{ action: posts_path, method: :get }
    .col-lg-6.col-lg-offset-2.col-xs-10
      .form-group
        = text_field_tag :query, params[:query], class: 'form-control'
    .col-lg-2.col-xs-2
      %input.btn.btn-default.pull-right{ type: 'submit', value: 'Search' }

.row
  .col-lg-8.col-lg-offset-2
    = render @posts

- if user_signed_in?
  .text-center
    = link_to 'Add Post', new_post_path, class: 'btn btn-primary'
