%nav.navbar.navbar-default{ role: 'navigation' }
  .navbar-header
    %button.navbar-toggle{ 'data-target' => '.main-navigation', 'data-toggle' => 'collapse', type: 'button' }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: root_path } Posts
  .collapse.navbar-collapse.main-navigation
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li
          = link_to 'Sign Out', sign_out_path
      - else
        %li
          = link_to 'Sign In', sign_in_path
        %li
          = link_to 'Sign Up', sign_up_path
